<nav class="navmenu" id="navmenu">
  {% if menu_items %}
    <ul class="navmenu__menu-list">
      {% for item in menu_items %}
        <li class="navmenu__menu-item">
          <a href="{{ item.link }}"
             class="navmenu__menu-link"
             {% if item.open_in_new_tab %}
               target="_blank" rel="noopener noreferrer"
             {% endif %}>
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <button id="theme-toggle-button"
          class="theme-toggler"
          aria-label="Toggle theme">
  </button>
</nav>
